/*** FONT */
@font-face {
    font-family: 'basara'; 
    src: url('assets/font/BASARA.ttf');
}

/*** GLOBAL STYLE */
body {
   font-family: basara, monospace;
   padding: 0;
   margin: 0;
   background-color:#f5f6fa !important;
}
body input, button {
  font-family: basara, monospace;
}

html,body {scroll-behavior: smooth;}

a {text-decoration: none;}

* {
  box-sizing: border-box;
}

/*** STYLING */

/** HEADER STYLE */

/* JUMBOTRON */
header div.jumbotron {
  background-image:url(assets/image/arena.png);
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
  font-size: 15px;
  padding: 30px;
  text-align: center;
  color: #f5f6fa;
  text-shadow: 0.8px 0.8px #282c34;
}

header div.jumbotron img {
  width: 50%;
  max-width: 200px;
  min-width: 150px;
}

/* NAVIGASI */
nav.navigasi {
  padding: 1rem 0 1rem 0;
  text-align: center;
  background-color:#282c34;
  position: sticky;
  top: 0;
}

nav.navigasi li {
  display: inline;
  font-size: 30px;
  list-style-type: none;
  margin:0 2rem 0 2rem ;
}

nav.navigasi a {
  font-weight: 400;
  color:#e06c75;
}

nav.navigasi a:hover {
        color: #98c379 ;
}

/*** MAIN */
main {
    padding:1rem 6rem 1rem 6rem;
    overflow: auto;
    margin : 0 0 1rem 0;
}
/** content 1 */
main div.content1 {
  display: flex;
  flex-wrap: wrap;
  font-size: 25px;
}

/** SEARCH BAR */
main section.searchbar {
  padding: 1rem 1rem 0 0;
  flex: 45%;
  text-align: center;
  order: 2;
}

main section.searchbar form input.search {
  width: 90%;
  text-align: left;
  background-color: #282c34;
  color: #f5f6fa;
  text-align: center;
  padding:0.7rem 0 0.7rem 0;
  border:1px solid #282c34;
  border-radius: 10px;
}

main section.searchbar form input.search::-webkit-input-placeholder {
  color: #f5f6fa;
}

/* SUBMIT */
main section.searchbar form input.submit {
  width: 70%;
  text-align: left;
  background-color: #e06c75;
  color: #282c34;
  text-align: center;
  padding:0.7rem 0 0.7rem 0;
  border: 0;
  border-radius: 10px;
}
main section.searchbar form input.submit:hover {
  background-color: #98c379;
  border:1px solid #98c379;
}

/* SEARCH TITTLE */
main section.searchtittle {
  flex: 53%;
  padding: 0 0 0 1rem;
  order: 1;
}

/** Content2 */
main div.content2 {
  background-color:#282c34 ;
  color:#f5f6fa;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  margin: 1rem 0 0.5rem 0;
  font-size: 20px;
}
main div.content2 h3 {
  text-align: center;
}

/* Checkbox */
main div.content2 section.category form {
  text-align: center;
  padding: 0 12rem 2rem 12rem;
}

main div.content2 section.category form input[type="checkbox"] {
  display: none;
}

main div.content2 section.category form input[type="checkbox"]:checked + label {
  color: #e06c75;
}

/* Checkbox Submit */
main div.content2 section.category form input.submit {
  width: 70%;
  font-size: 20px;
  background-color: #e06c75;
  color: #282c34;
  text-align: center;
  padding:0.2rem 0 0.2rem 0;
  border: 0;
  border-radius: 10px;
}

main div.content2 section.category form input.submit:hover {
  background-color: #98c379;
  border:1px solid #98c379;
}

/* Content3 */
main div.content3 {
  font-size: 20px;
}
main div.content3 h3 {
  text-align: center;
}

main div.content3 section.item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

main div.content3 section.item div.itemlist {
  color: #f5f6fa;
  border-radius: 5px;
  border: 1px solid #282c34;;
  width: 24%;
  margin: 2px;
  text-align: center;
  display: flex;
  flex-direction: column;
  font-size: 90%;
}

main div.content3 section.item div.itemlist:hover {
  border: 1px solid #98c379;
  border-radius: 5px;
}


main div.content3 section.item div.itemlist span.number {
  color: #282c34;
}



main div.content3 section.item div.itemlist div.banner{
  height: 130px;
  margin: 0;
}
main div.content3 section.item div.itemlist div.descript{
  background-color: #282c34;
  height: 100px;
  margin: 0;
  line-height: 5px;
}

main div.content3 section.item div.itemlist div.descript span{
  font-size: 60%;
}

main div.content3 section.item div.itemlist div.label{
  background-color: #282c34;
  height: 70px;
  margin: 0;
  border-radius: 0 0 3px 3px;
}


main div.content3 section.item div.itemlist img {
  height: 100%;
}

/* Lihat selengkapnya */
main div.content3 {
  text-align: center;
}
main div.content3 button {
  font-size: 20px;
  width: 10rem;
  background-color: #282c34;
  color: #f5f6fa;
  text-align: center;
  padding:0.5rem 0.2rem 0.5rem 0.2rem;
  border: 0;
  border-radius: 10px;
}

main div.content3 button:hover {
  background-color: #98c379;
}


/* Content 4 */
main div.content4 {
  font-size: 18px;
  background-color: #282c34;
  color: #f5f6fa;
  padding: 0.5rem 2rem 0.5rem 2rem;
  margin: 1rem 0 0.5rem 0;
  text-align: center;
}

main div.content4 section.quis img {
  width: 50%;
  max-width: 200px;
  min-width: 150px;
}

main div.content4 h3 {
  text-align: center;
}

main div.content4 section.quis button {
  font-size: 20px;
  width: 8rem;
  background-color: #e06c75;
  color: #282c34;
  text-align: center;
  padding:0.5rem 0.2rem 0.5rem 0.2rem;
  border: 0;
  border-radius: 10px;
  margin: 0 0 2rem 0;
}

main div.content4 section.quis button:hover {
  background-color: #98c379;
}

/* Footer */

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
  color: #f5f6fa;
  background-color:#282c34 !important;
  margin: auto;
  
}

footer {
  text-align: center;
}
footer section.author {
  font-size: 25px;
  flex: 50%;
}

footer section.author p {
  color:#e06c75 ;
}

footer section.social {
  font-size: 25px;
  flex: 50%;
}

footer section.social li {
  display: inline;
}
footer section.social a {
  color:#e06c75;
}
footer section.social a:hover {
  color:#98c379;
}

/*** MOBILE STYLE */
@media screen and (max-width: 765px) {
  /*** HEADER */
  header div.jumbotron {
    font-size: 10px;
    
  }
  /** NAVIGASI */
  nav.navigasi {
    position: sticky;
    top: 0;
  }
  nav.navigasi li {
    font-size: 15px;
    margin:0 1rem 0 1rem ;
  }
  /*** MAIN */
  /** content */
  main {
    padding:1rem 3rem 0 3rem;
  }
  /* SEARCH BAR */
  main div.content1 {
    font-size: 15px;
  }
  main section.searchbar {
    text-align: center;
    padding: 1rem 0 0 0;
    flex: 100%;
    order: 1;
  }
  main section.search-bar .search {
    padding:0.6rem 0 0.6rem 0;
  }
  main section.search-bar .submit {
    padding:0.5rem 0 0.5rem 0;
  }
  /* SEARCH TITTLE */
  main section.searchtittle {
    text-align: center;
    flex: 100%;
    padding: 0 0 0 0;
    order: 2;
  }
  
  /* Kategory */ 
  main div.content2 {
    font-size: 15px;
  }
  main div.content2 section.category form {
  text-align: center;
  padding: 0 4rem 1rem 4rem;
  }
  main div.content2 section.category form input.submit {
    font-size: 15px;
  }
  
  /* Content3 */
  main div.content3{
    font-size: 15px;
  }
  main div.content3 section.item div.itemlist div.banner{
  height:100px;
  }
  main div.content3 section.item div.itemlist div.descript{
  height:80px;
  }
  main div.content3 section.item div.itemlist div.label{
  height: 50px;
  }
  
  main div.content3 section.item div.itemlist {
    width: 48%;
  }
  
  main div.content3 button {
  font-size: 15px;
  }
  /* content 4  */
  main div.content4 {
  font-size: 15px;
  }
  main div.content4 section.quis button {
  font-size: 15px;
  }
  /* FOOTER */
  footer {
    text-align: center;
    
  }
  
  footer section.social li {
  display: block;
  list-style-type: none;
  }
  
  footer section.author {
  flex: 100%;
  font-size: 15px;
  }
  
  footer section.social {
  flex: 100%;
  font-size: 15px;
  }
}
